# Strings Class

## Introduction

In [ ]:
print(100 == "100")

False

In [ ]:
print(type(100))

<class 'int'>

In [ ]:
print(type("100"))

<class 'str'>

In [ ]:
balance = 100
# print("I have " + balance + " Rs in my account!")
print("I have " + str(balance) + " Rs in my account!")

I have 100 Rs in my account!

## Challenge 1:

Take a string as input and print all the characters in a newline.

Input:
"India"

Output:

I

n

d

i

a

In [ ]:
my_country = input()

India

In [ ]:
print(my_country)

India

In [ ]:
for c in my_country:
  print(c)

I
n
d
i
a

## Challenge 2:

Given a string as input, print the first and the last character of the string.

Input: "India"

Output:

I

a

In [ ]:
my_country = input()

India

In [ ]:
print(my_country)

India

In [ ]:
print(my_country[0])
print(my_country[-1])

I
a

In [ ]:
n = len(my_country)

print(my_country[0])
print(my_country[n - 1])

I
a

# Challenge 3:

Take a string as input and print the ASCII value of the characters in it.

In [ ]:
my_country = input()

India

In [ ]:
print(my_country)

India

In [ ]:
for c in my_country:
  print(ord(c)) # prints the ASCII value for the character

73
110
100
105
97

In [ ]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [ ]:
# Capital letters are smaller (smaller ascii value), irony
# A = 65
# a = 97

# Challenge 4

Given a string as input, print it 3 times without any space. (can't use a loop)

Input:
"India"

Ouput:
"IndiaIndiaIndia"

In [ ]:
my_country = input()

India

In [ ]:
print(my_country * 3) # concatenating the same string 3 times

IndiaIndiaIndia

In [ ]:
print(my_country + my_country + my_country)

IndiaIndiaIndia

## Quiz

In [ ]:
city = "Phoenix"
print(city*3)
print(len(city*3))

PhoenixPhoenixPhoenix
21

## Challenge 5: Given a string as input, count the no of upper case characters
(A - Z) in it.

In [ ]:
my_country = input()

IndiaRocks

In [ ]:
cnt_upper = 0

# A - 65
# B - 66
# ..
# Z - 90
for c in my_country:
  if ord(c) >= 65 and ord(c) <= 90:
    cnt_upper += 1

print(cnt_upper)

2

In [ ]:
print('c'.isupper())

False

In [ ]:
help('c'.isupper())

Help on built-in function isupper:

isupper() method of builtins.str instance
    Return True if the string is an uppercase string, False otherwise.

    A string is uppercase if all cased characters in the string are uppercase and
    there is at least one cased character in the string.

In [ ]:
cnt_upper = 0

# A - 65
# B - 66
# ..
# Z - 90
for c in my_country:
  if c.isupper(): # it automatically checks if it's an upper case character
    cnt_upper += 1

print(cnt_upper)

2

# Challenge 6:

Convert the string to lower case.

Input: "INdiA"
Output: "india"

In [ ]:
my_name = input("What is your name?") # case insensitive

What is your name?Sahil

In [ ]:
"sahil" == "SAhil" # say if I want to make them equal, convert both the strings
# to the same case (lower or upper) become checking

"sahil" == "SAHIL"

False

In [ ]:
for c in my_name:
  print(c)
  # new ascii value = old ascii value + 32
  cnew = ord(c) + 32
  print(cnew)
  print(chr(cnew))
  print('-----')


print(my_name)

# my_name[0] = 's' => Strings are immutable

S
115
s
-----
A
97
a
-----
H
104
h
-----
I
105
i
-----
L
108
l
-----
SAHIL

TypeError: ignored

In [ ]:
# how to get to character from ASCII value
ascii_value = 122

print(chr(ascii_value)) # convert you ascii value to the actual character

z

In [ ]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [ ]:
## SOLUTION

res = '' # currently it's empty
for c in my_name:
  if c.isupper(): # only convert the upper case
    print(c)
    # new ascii value = old ascii value + 32
    cnew = ord(c) + 32
    print(cnew)
    print(chr(cnew))
    # add this lower case character to the result
    res += chr(cnew)
    print('res is:', res)
    print('-----')
  else: # add the lower case as it is
    print('Adding as it is:')
    print(c)
    res += c


print('Final res is:', res)

S
115
s
res is: s
-----
Adding as it is:
a
Adding as it is:
h
Adding as it is:
i
Adding as it is:
l
Final res is: sahil

## Quiz

In [ ]:
s1 = "Hello"
print(s1.upper()) # it creates a new string, can't modify s1

HELLO

In [ ]:
s1 = "Hello"
print(s1.lower()) # it creates a new string, can't modify s1

hello

In [ ]:
print(s1)

Hello

In [ ]:

def spongebob(str):
  new_str = ""
  for ind, char in enumerate(str):
    if ind % 2 == 1:
      new_str += char.lower()
    else:
      new_str += char.upper()
  return new_str

spongebob("India")

'InDiA'

In [ ]:
spongebob("Scaler")

'ScAlEr'

# in is a keyword

check whether something is present in the string or not

In [ ]:
s = "123456"

print('6' in s) # True

print('9' in s) # False

True
False

In [ ]:
s = "This is a famous quote from someone that we should focus on doing the right things and not on the result"

In [ ]:
print("the" in s)

True

In [ ]:
print("fam" in s)

True

In [ ]:
print("famousquote" in s)

False

## Quiz

In [ ]:
def unique(str):
  letters = []
  
  for char in str:
    if char not in letters:
      letters.append(char)

  return letters


print(unique('Apple'))

['A', 'p', 'l', 'e']

## Doubts

In [ ]:
x = "abc"
print(x)

x = "def" # different string
print(x)

x[0] = 'a'

abc
def

TypeError: ignored