## Creating Class

In [ ]:
class Student:
  name = 'Sahil'
  age = 22

  def join_class(self):
    print('The student has joined the class')

In [ ]:
print(Student) # it's a class / template / blueprint

<class '__main__.Student'>

## Creating Object

In [ ]:
s = Student()

In [ ]:
print(s)

<__main__.Student object at 0x7f6dba90a790>

## Access Data

In [ ]:
print(s.name)

Sahil

In [ ]:
print(s.age)

22

## Access the method

In [ ]:
s.join_class()

The student has joined the class

## Print type

In [ ]:
print(type(s))

<class '__main__.Student'>

In [ ]:
l = list()
l.append(5)
print(type(l))

<class 'list'>

## Understanding Object Reference: self

In [ ]:
class Student:
  name = 'Sahil'
  age = 22

  def join_class(self):
    # print('self printed inside the function call:', self)
    print('The student has joined the class')

s = Student()
# print(s.name)
# print(s.age)

# print('s printed before the function call:', s)
s.join_class()

Sahil
22
s printed before the function call: <__main__.Student object at 0x7f6dba9f2950>
self printed inside the function call: <__main__.Student object at 0x7f6dba9f2950>
The student has joined the class

## 2nd Object

In [ ]:
s2 = Student()

In [ ]:
print(s2.name)
print(s2.age)

Sahil
22

## Update the data for the object

In [ ]:
s2.name = 'Ganesh'
s2.age = 25

In [ ]:
print(s2.name)
print(s2.age)

Ganesh
25

## QUIZ

In [ ]:
class Student:
  name = 'Sahil'
  age = 22

  def join_class(self):
    # print('self printed inside the function call:', self)
    print(f'The student {s.name} has joined the class')

s2 = Student()
s2.name = 'Ganesh'
s2.age = 25
s2.join_class()

The student Sahil has joined the class

In [ ]:
class Student:
  name = 'Sahil'
  age = 22

  def join_class(self, t):
    # print('self printed inside the function call:', self)
    print(f'The student {self.name} has joined the class after {t} seconds')

s2 = Student()
s2.name = 'Ganesh'
s2.age = 25
s2.join_class(10)

The student Ganesh has joined the class after 10 seconds

## Doubts